<section class="archive-page container">
  <header class="article-header">
    <h1><%= page.title || '归档' %></h1>
  </header>
  <div class="archive-list">
    <% page.posts.each(function(post){ %>
      <article class="archive-item">
        <time datetime="<%= post.date.toISOString() %>"><%= date(post.date, 'YYYY-MM-DD') %></time>
        <a href="<%= url_for(post.path) %>"><%= post.title %></a>
      </article>
    <% }) %>
  </div>
</section>
